/*
Color scheme for this web page 
#00A6FB
#0582CA
#006494
#003554
#051923
*/

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

*::selection {}

body {}

/*Header*/
header {
  background-color: #003554;
  color: #fff;
}

header img {
  height: 75px;
  background-color: #fff;
  border-radius: 10px
}

header h1 {
  border-radius: 10px;
  text-align: center;
  font-family: 'Arvo', sans-serif;
}

@media (min-width: 992px) {
  header h1 {
      border-radius: 10px;
      text-align: left;
  }
}

header ul {
  list-style: none;
}

header li {
  transition: 500ms;
}

header a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: 500ms;
}

header a:focus {
  background-color: #006494;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

header li:hover {
  background-color: #006494;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/*footer*/
footer a {
  background-color: #fff;
  color: #003554;
  text-decoration: none;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: 100ms;
}

footer a:focus {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

footer a:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}

#quote {
  height: 700px;
  background-image: url(Images/homepage/keybord.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  font-family: 'Arvo', sans-serif;
}

#quote div {
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.6;
  transition: 1s;
}

#quote div:hover {
  opacity: 0.9;
}

#quote p {
  color: #000;
  background-color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

div h2 {
  color: #006494;
  font-weight: bold;
}

div a {
  text-align: center;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  transition: 500ms;
}

div div div {
  text-align: center;
}

div div div a {
  background-color: #fff;
  border-radius: 0;
  border-bottom: 2px solid #fff;
}

div div div a:focus {
  border-bottom: 2px dashed #000;
}

div div div a:hover {

  border-bottom: 2px solid #000;
}

ul {
  list-style: none;
}

ul img {
  width: 80px;
}

.box-shadow {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

article ul div {
  transition: 100ms;
}

/* article ul div:hover {
  transform: rotate(0.5deg) scale(1.01);
  box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
} */